<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<title>configure</title>
</head>
<body>
<div id="app" style="margin:0 auto; width:60%;  border:1px">
	<el-card class="box-card">
		<div slot="header" class="clearfix">
			<span>请根据环境情况配置以下两个参数 <a href="/" style="text-decoration:none;float: right;">返回首页</a></span>
		</div>
		<el-row >
			<el-col :span="16">
				<el-input  size="medium" placeholder="Example：192.168.1.100:2181" v-model="zkAddress">
					<template slot="prepend">ZK：</template>
				</el-input>
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="16">
				<el-input  size="medium" placeholder="Example：http://maven.test.com/repository/public/" v-model="repositoryUrl">
					<template slot="prepend">Maven:</template>
				</el-input>
			</el-col>
		</el-row>

		<div style="margin:0px auto; width: 100%;height: 50px; line-height: 70px;">
			<el-row>
				<el-col :span="12" :offset="4" style="text-align:center">
					<el-button type="primary" @click="saveConfig">Save</el-button>
				</el-col>
			</el-row>
		</div>
	</el-card>
</div>

</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/axios.min.js"></script>
<script type="text/javascript">
    var router = new VueRouter({
        mode: 'history',
        routes: []
    });
    const vm = new Vue({
        router,
        el: '#app',
        data: {
            zkAddress:"",
            repositoryUrl:"",
        },
        created() {
            this.getConfig();
        },
        methods: {
            getConfig(){
                axios.post('/config/get')
                    .then(response => {
                        this.zkAddress = response.data.zkAddress;
                        this.repositoryUrl = response.data.repositoryUrl;
                    })
                    .catch(error => {
                        this.$message.error("异常");
                    });
            },
            saveConfig(version){
                var config = {'zkAddress':this.zkAddress,'repositoryUrl':this.repositoryUrl};
                axios.post('/config/update',config)
                    .then(response => {
                        this.message= response.data;
                    })
                    .catch(error => {
                        this.$message.error("异常");
                    });
            }
        }
    })
</script>
<style>
	.el-col {
		border-radius: 4px;
		padding: 20px 0;

	}
	.el-row {
		margin-top: 20px;
	&:last-child {
		 margin-bottom: 0;
	 }
	}
	.el-col {
		border-radius: 20px;
	}
	.bg-purple-dark {
		background: #99a9bf;
	}
</style>
</html>
