<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<title>添加jar包</title>
	</head>
	<body>
		<div id="app">
			<el-row  >
				<el-col :span="4" :offset="4">
					<el-input v-model="applicationName" size="medium" placeholder="applicationName"></el-input>
				</el-col>
				<el-col :span="4" :offset="4">
					<el-input v-model="groupId" size="medium" placeholder="groupId"></el-input>
				</el-col>
				<el-col :span="4">
					<el-input v-model="artifactId" size="medium" placeholder="artifactId"></el-input>
				</el-col>
				<el-col :span="4">
					<el-button @click="selectJarVersions">Show Jars</el-button>
				</el-col>
			</el-row>
			<el-row>
			<el-col :span="12" :offset="4"><div class="grid-content bg-purple-dark" style="height:50px;text-align:center;line-height:50px;">API jar包列表</div></el-col>
			</el-row>
			
			<el-row :gutter="20">
				<el-col :span="12" :offset="4" >
					<template>
					<el-table :data="tableData"  :show-header="false" style="width: 100%">
					<el-table-column 		 prop="data"	>
						<template slot-scope="scope"><a href="interface.html"  style="color:black;text-decoration:none;">
						</a>{{ scope.row }}</template>
					</el-table-column>
					<el-table-column 		 prop="type" 	>
						<template slot-scope="scope">
							<el-button
							  size="mini"
							  @click="handleEdit(scope.row)" >Jump to</el-button>
								<!-- <el-progress type="circle" :percentage="25"></el-progress> -->
						</template>						
					</el-table-column>
				</el-table>
				</template>
				<el-col>
			</el-row>
		</div>
		
	</body>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="js/axios.min.js"></script>
	<script type="text/javascript">
        var router = new VueRouter({
            mode: 'history',
            routes: []
        });
	    const vm = new Vue({
            router,
	        el: '#app',
	        data: {
	            tableData: [],
				applicationName:"",
				groupId:"",
				artifactId:"",
				version:""

	        },
	        created() {
				this.applicationName = this.$route.query.applicationName;
                this.groupId = this.$route.query.groupId;
                this.artifactId=this.$route.query.artifactId;
                this.selectJarVersions();
	        },
	        methods: {
                selectJarVersions(){
                    var params={'groupId':this.groupId,'artifactId':this.artifactId};
                    axios.post('/index/getJarVersions',params)
                        .then(response => {
                            // cb(response.data);// callback返回数据
						this.tableData = response.data;
                        })
                        .catch(error => {
                            this.$message.error("异常");
                        });
                },
				handleEdit(version){
					urlParams = "/interface.html?"+"applicationName="+this.applicationName;
					urlParams = urlParams + "&groupId="+this.groupId;
					urlParams = urlParams + "&artifactId="+this.artifactId;
					urlParams = urlParams + "&version="+version;

					location.href = urlParams;
				}
			}
	    })
	</script>
	<style>
		.el-col {
		border-radius: 4px;
		padding: 20px 0;
		
		}
		 .el-row {
    margin-top: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 40px;
  }	
  .bg-purple-dark {
    background: #99a9bf;
  }
	</style>	
</html>
