<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="css/interface.css">
		<title>接口列表</title>
	</head>
	<script src="js/utils.js"></script>
	<body>
		<div id="app" style="width: 80%; margin:0 auto;">
			<el-container width="80%">
			  <!-- <el-header>Header</el-header> -->
			  <el-container>
				<el-aside width="35%">
					<el-row :gutter="20">
					<el-col :span="23"><div class="grid-content bg-content">
					<el-card class="box-card">
						<div slot="header" class="clearfix" style="position:relative;">
							<span style="float: left;">服务列表</span>
							<span style="position:absolute;top:-15px;left:150px;width:auto;">
								<el-select v-model="selectValue" placeholder="请选择">
									<el-option v-for="item in options" :key="item" :label="item" :value="item">
									</el-option>
								</el-select>
							</span>
						</div>
							<el-table :data="serviceList" :show-header="false" style="width: 100%">
							<el-table-column 		 prop="data"	>
								<template slot-scope="scope">
									<p>{{ scope.row.index }}.{{ scope.row.desc }}</p>
									<a :href="'javascript:gotoUrl(\''+ scope.row.className +'\')'"  style="color:black;text-decoration:none;">{{ scope.row.className }}</a>
									</template>
							</el-table-column>
						</el-table>
					</el-card>
					</div></el-col>
					</el-row>
					<el-row :gutter="20">
					<el-col :span="23" ><div class="grid-content bg-content">
					<el-card class="box-card">
						<div slot="header" class="clearfix">
							<span>方法列表</span>
						</div>
							<el-table :data="interfaceList" :show-header="false" style="width: 100%">
								<el-table-column 		 prop="data"	>
									<template slot-scope="scope">
										<p>{{ scope.row.index }}.{{ scope.row.desc }}</p>
										<a :href="'javascript:gotoUrl(\''+ scope.row.className +'\',\''+ scope.row.methodName +'\')'"  style="color:black;text-decoration:none;">{{ scope.row.methodName }}</a>
										</template>
								</el-table-column>
							</el-table>
					</el-card>
					</div></el-col>
					</el-row>
				</el-aside>
				<el-container>
				<el-main >
					<el-card class="box-card" :data="interfaceInfo">
						<div slot="header" class="clearfix">
							<span>接口信息</span>
						</div>
							<el-row >
									<el-col :span="100"><span class="fontSpan">接口名称:{{ interfaceInfo.desc }}</span></el-col>
							</el-row>
							<el-row >
									<el-col :span="4"><span class="fontSpan" >方法名:{{ interfaceInfo.methodName }}</span></el-col>
							</el-row>
							<el-row >
									<el-col :span="4"><span class="fontSpan" >用法</span></el-col>
							</el-row>
							<el-row >
									<el-col :span="4"><a href="checkout.html" style="text-decoration:none;"><span>测试一把<span></a></el-col>
							</el-row>
							<el-row >
									<el-col :span="4"><span class="fontSpan" >请求参数：{{ interfaceInfo.requestName }}</span></el-col>
							</el-row>
								<el-row :gutter="20">
									<el-col :span="24" ><div style="text-align:center;border:1px solid  #99a9bf;">
											<el-table :data="requestData" style="width: 100%">
											<el-table-column      label="参数名称"        prop="name"></el-table-column>
											<el-table-column      label="参数类型"        prop="dataType"></el-table-column>
											<el-table-column      label="必输"        	prop="required"></el-table-column>
											<el-table-column      label="参数描述"        prop="desc"></el-table-column>
											<el-table-column      label="字典描述"        prop="enumDesc"></el-table-column>
										</el-table>
									</div></el-col>
							</el-row>
							<el-row >
									<el-col :span="4"><span class="fontSpan">应答参数：{{ interfaceInfo.responseName }}</span></el-col>
							</el-row>
								<el-row :gutter="20">
									<el-col :span="24" ><div style="text-align:center;border:1px solid  #99a9bf;">
											<el-table :data="responseData" style="width: 100%">
											<el-table-column      label="参数名称"        prop="name"></el-table-column>
											<el-table-column      label="参数类型"        prop="dataType"></el-table-column>
											<el-table-column      label="必输"        prop="required"></el-table-column>
											<el-table-column      label="参数描述"        prop="desc"></el-table-column>
											<el-table-column      label="字典描述"        prop="enumDesc"></el-table-column>
										</el-table>
									</div></el-col>
							</el-row>
					</el-card>
				</el-main>
				</el-container>
			  </el-container>
			</el-container>
		</div>
	</body>
	<script src="//unpkg.com/vue/dist/vue.js"></script>
	<script src="//unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="//unpkg.com/element-ui@2.4.11/lib/index.js"></script>
	<script src="js/axios.min.js"></script>
	<script type="text/javascript">
		var appInfo = {};
		appInfo.applicationName=getUrlKey("applicationName");
		appInfo.groupId=getUrlKey("groupId");
		appInfo.artifactId=getUrlKey("artifactId")
		appInfo.version=getUrlKey("version");
		urlService= getUrlKey("service");
		urlMethod= getUrlKey("method");

		function gotoUrl(service,method){
			//alert(service)
			url ="interface.html?a=1";
			if(appInfo.applicationName){
				url=url+"&applicationName="+appInfo.applicationName;
			}
			if(appInfo.groupId){
				url=url+"&groupId="+appInfo.groupId;
			}
			if(appInfo.artifactId){
				url=url+"&artifactId="+appInfo.artifactId;
			}
			if(appInfo.version){
				url=url+"&version="+appInfo.version;
			}
			if(service){
				url=url+"&service="+service;
			}

			if(method){
				url=url+"&method="+method;
			}

			location.href=url;
		}

		const vm = new Vue({
			el: '#app',
			data:{
				serviceList: [],
				interfaceList: [],
				interfaceInfo:{},
				requestData: [],
				responseData: [],
				options: [],
				selectValue:appInfo.version
			},
			created: {

			},
			methods: {
				getDoc(){
					extVar="?1=1";
					if(urlService){
						extVar=extVar+"&service="+urlService;
					}
					if(urlMethod){
						extVar=extVar+"&method="+urlMethod;
					}

					axios.post('/apiDoc/document'+extVar,
							appInfo
						).then(response => {
							this.serviceList=response.data.serviceList;
							if(response.data.interfaceList){
								this.interfaceList=response.data.interfaceList;
							}
							if(response.data.interfaceInfo){
								this.interfaceInfo=response.data.interfaceInfo;
								this.requestData=this.interfaceInfo.request;
								this.responseData=this.interfaceInfo.response;
							}

							console.log(response.data)
							})
						.catch(error => {
								console.log(response.data)
						});
				}
			},
			mounted(){
				if(!appInfo.version){
					axios.post('/index/getJarVersions',
							appInfo
					).then(response => {
						appInfo.version = response.data[0];
					this.options=response.data;
					this.getDoc();
					console.log(response.data);
				})
				.catch(error => {
						console.log(response.data)
				});
				}else {
					this.getDoc();
				}
			}
		})
	</script>
		<style>
			.el-header{
			background-color: #B3C0D1;
			color: #333;
			text-align: center;
			line-height: 60px;
		  }
		  
		  .el-aside {
			color: #333;
			/* text-align: left; */
			/* line-height: 200px; */
		  }
		  
		  .el-main {
			background-color: #E9EEF3;
			color: #333;
			/* width: auto; */
		  }
		  
		  body > .el-container {
			/* margin-bottom: 40px; */
		  }
		  
		  .el-container:nth-child(5) .el-aside,
		  .el-container:nth-child(6) .el-aside {
			/* line-height: 260px; */
		  }
		  
		  .el-container:nth-child(7) .el-aside {
			/* line-height: 320px; */
		  }
	  .el-card__header {
	    background: #f5f5f5;
		height: 30px;
		line-height: 2px;
	}
	.fontSpan{
		color: #008000;
		font-size: 14px;
	}
	/* .box-card {
	width: 100%;
	margin:0 auto;
	margin-top: 10px;
	} */
	.el-input__inner{
		height:30px;
		line-height:30px;
	}
		</style>
</html>
